<div class="wrapper" style="background: white;">
  <!-- menu user-->
  <div class="d-flex flex-column flex-md-row align-items-center px-md-4 bg-white border-bottom shadow-sm pt-2">
    <img class="my-0 mr-md-auto" style="width: 20%; height:auto; cursor: pointer;" src="../../../../assets/img//Untitled-3.png"  [routerLink]="'/home-page'">
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Hồ Sơ</a>
      <!-- <a class="p-2 text-dark" href="#">Enterprise</a> -->
      <a class="p-2 text-dark" href="#">Hỗ Trợ</a>
      <!-- <a class="p-2 text-dark" href="#">Pricing</a> -->
    </nav>
    <a class="btn btn-outline-primary" href="#">Đăng Nhập/Đăng Ký</a>
  </div>

  <div class="emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img  [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input style="z-index: 100;" class="p-2" type="file" (change)="fileProgress($event)"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                Kshiti Ghelani
                            </h5>
                            <h6>
                                Web Developer and Designer
                            </h6>
                            <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                            <form class="card">
                                <tabset [justified]="true" class="ie-fix-flex">
                                    <tab>
                                        <ng-template tabHeading>Thông Tin Người Dùng</ng-template >
                                        <div>
                                            <fieldset>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Tên User</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control" type="text" placeholder="user name.." />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Tên</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control" type="text" placeholder="firstname.." />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Họ</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control" type="text" placeholder="lastname.." />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Email</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control" type="text" placeholder="email.." />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Số điện thoại</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control" type="text" placeholder="phone.." />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Ngày Tạo</label>
                                                    <div class="col-lg-10">
                                                        <div>25/05/1998</div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </tab>
                                    <tab>
                                        <ng-template tabHeading>Lịch Sử Đặt Sân</ng-template >
                                        <div>
                                            <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">First</th>
                                                    <th scope="col">Last</th>
                                                    <th scope="col">Handle</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>@mdo</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>Thornton</td>
                                                    <td>@fat</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">3</th>
                                                    <td>Larry</td>
                                                    <td>the Bird</td>
                                                    <td>@twitter</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div>
                                    </tab>
                                </tabset>
                            </form>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Lưu thay đổi"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <!-- <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br/>
                    <a href="">Bootsnipp Profile</a><br/>
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/>
                </div>
            </div> -->
            <!-- <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Kshiti123</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Kshiti Ghelani</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>kshitighelani@gmail.com</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>123 456 7890</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Web Developer and Designer</p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br/>
                                <p>Your detail description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </form>           
</div>
</div>