<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#/">
        <div class="brand-logo">
            <img style="width: auto; height: 34px;" class="img-fluid" src="assets/img/logi.png" alt="App Logo" />
        </div>
        <div class="brand-logo-collapsed">
            <img style="width: auto; height: 44px;" class="img-fluid" src="assets/img/logi2.png" alt="App Logo" />
        </div>
    </a>
</div>
  
  <ul class="navbar-nav mr-auto flex-row">
    <li class="nav-item">
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a class="nav-link d-none d-md-block d-lg-block d-xl-block" trigger-resize="" (click)="toggleCollapsedSideabar()" *ngIf="!isCollapsedText()">
            <em class="fas fa-bars"></em>
        </a>
        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
        <a class="nav-link sidebar-toggle d-md-none" (click)="settings.toggleLayoutSetting('asideToggled'); $event.stopPropagation()">
            <em class="fas fa-bars"></em>
        </a>
    </li>
    <!-- START User avatar toggle-->
    <li class="nav-item d-none d-md-block">
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a  class="nav-link" (click)="toggleUserBlock($event)">
            <em class="icon-user"></em>
        </a>
    </li>
    <!-- END lock screen-->
</ul>
  <!-- <ul class="navbar-nav mr-auto flex-row">
    <li class="nav-item d-none d-md-block pull-right">
      <a class="nav-link" title="Lock screen" style="cursor: pointer;" [routerLink] = "'/profile-owner'">
        Hồ Sơ
      </a>
    </li>
  </ul> -->
  <ul class="navbar-nav flex-row">
    <!-- Fullscreen (only desktops)-->
    <li class="nav-item d-none d-md-block" style="cursor: pointer;">
      <a class="nav-link" #fsbutton (click)="toggleFullScreen($event)">
        <em class="fa fa-expand"></em>
      </a>
    </li>

     <!-- user login -->
    <li class="nav-item dropdown dropdown-list" dropdown style="cursor: pointer;">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" dropdownToggle>
        <em class="fas fa-user-circle"></em>
      </a>
      <!-- START Dropdown menu-->
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right animated fadeInRight">
        <div class="dropdown-item">
          <!-- START list group-->
          <div class="list-group">
            <!-- list item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <div class="align-self-start mr-2">
                  <em class="fa-2x mr-2 fas fa-info-circle"></em>
                </div>
                <div class="media-body">
                  <p class="m-0"  [routerLink] = "'/profile-owner'">Hồ Sơ Của Bạn</p>
                  <p class="m-0 text-muted text-sm">Xem thông tin</p>
                </div>
              </div>
            </div>
            <!-- list item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <div class="align-self-start mr-2">
                  <em class="fa-2x icon-logout mr-2 text-danger"></em>
                </div>
                <div class="media-body">
                  <p class="m-0">Đăng Xuất</p>
                  <p class="m-0 text-muted text-sm">Thoát khỏi tài khoản của bạn</p>
                </div>
              </div>
            </div>
          </div>
          <!-- END list group-->
        </div>
      </div>
      <!-- END Dropdown menu-->
    </li>
    <!-- END Alert menu-->
    <!-- START Offsidebar button-->
    <li class="nav-item" style="cursor: pointer;">
      <a class="nav-link" (click)="toggleOffsidebar(); $event.stopPropagation()">
        <em class="icon-notebook"></em>
      </a>
    </li>
    <!-- END Offsidebar menu-->
  </ul>
  <!-- END Right Navbar-->
</nav>
<!-- END Top Navbar-->