<button class="btn btn-info m-3 float-right" [routerLink]="['/createPitch']">Tạo Sân Bóng</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <strong>Tên Sân</strong>
            </th>
            <th>
                <strong>Địa Chỉ</strong>
            </th>
            <th>
                <strong>Quận</strong>
            </th>
            <th>
                <strong>Thành Phố</strong>
            </th>
            <th>
                <strong>Số điện thoại</strong>
            </th>
            <th>
                <strong>Ngày Tạo</strong>
            </th>
            <th>
                <strong>Sân</strong>
            </th>
            <th class="text-center">
                <strong>Tạo Sân/Sửa Đổi</strong>

            </th>
            <!-- <th class="text-center">
                <strong>Sửa Đổi</strong>
            </th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listPitch">
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.district.name}}</td>
            <td>{{item.city.name}}</td>
            <td>{{item.phone_number}}</td>
            <td>{{item.createdAt | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="item.subpitchDetail[0].length > 0">
              <li *ngFor="let i of item.subpitchDetail" style="list-style: none; cursor: pointer">
                <span class="badge badge-dark ad" (click)="getSubpitch(i[0]._id)" >{{i[0].name}}</span>
              </li>
              
            </td>
            <td *ngIf="item.subpitchDetail[0] < 1"></td>
            <td class="text-center">
                <button class="btn btn-sm btn-success" id="openModalButton" data-toggle="modal" data-target=".create-pitch" (click)="setPitch(item._id)"> <em
                        class="fas fa-sm fa-plus"></em> Tạo Sân Con</button>
                <button class="btn btn-sm btn-warning" [routerLink]="['/createPitch',item._id]"> <em
                        class="fas fa-sm fa-pencil-alt"></em> Sửa Đổi</button>
                <!-- <button class="btn btn-sm btn-warning" data-toggle="modal" data-target=".edit-pitch"> <em
                        class="fas fa-sm fa-pencil-alt"></em> Sửa Đổi</button> -->
            </td>
        </tr>

    </tbody>
</table>

<div class="modal fade create-pitch" tabindex="-1" role="dialog" aria-labelledby="createPitchLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Tạo Sân Con</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="card card-default">
                        <!-- <div class="card-header d-flex align-items-center">
                            <div class="d-flex justify-content-center col">
                                <div class="h4 m-0 text-center">Tạo Sân Con </div>
                            </div>
                        </div> -->
                        <div class="card-body">
                            <div class="row py-4 justify-content-center">
                                <div class="col-12 col-sm-10">
                                    <div class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                                for="inputContact1">Tên sân</label>
                                            <div class="col-xl-10 col-md-9 col-8">
                                                <input class="form-control" id="inputContact1"
                                                    type="text" name="name" placeholder="Nhập Tên" [(ngModel)]="subpitch.name" autocomplete="off" required="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                                for="inputContact4">Loại Sân</label>
                                            <div class="col-xl-10 col-md-9 col-8">
                                                <select class="form-control" id="inputContact4" type="text" [(ngModel)]="subpitch.subpitch_type" >
                                                    <option *ngFor ="let type of arrTypePitch" value="{{type.id}}">{{type.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- switch -->
                                        <div class="form-group row">
                                            <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                                for="inputContact4">Kích Hoạt</label>
                                            <div class="col-xl-10 col-md-9 col-8">
                                                    <label class="switch m-0" style="width: 50px;">
                                                        <input type="checkbox" [(ngModel)]="subpitch.active"/>
                                                        <span></span>
                                                    </label>
                                                    <table class="table" *ngIf="subpitch.active">
                                                        <thead>
                                                          <tr>
                                                            <th scope="col" width="25%">Khung Giờ (h)</th>
                                                            <th scope="col">Giá Cả (VND)</th>
                                                            <th scope="col">Kích Hoạt</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr>
                                                            <th scope="row">1h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[1].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[1].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">2h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[2].price" ></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[2].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">3h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[3].price" ></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked"[(ngModel)]="subpitch.time[3].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">4h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[4].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[4].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">5h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[5].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked"[(ngModel)]="subpitch.time[5].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">6h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]=subpitch.time[6].price></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[6].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">7h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]=subpitch.time[7].price ></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[7].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">8h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]=subpitch.time[8].price></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked"[(ngModel)]="subpitch.time[8].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">9h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[9].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked"[(ngModel)]="subpitch.time[9].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">10h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[10].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[10].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">11h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[11].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[11].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">12h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[12].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[12].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">13h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[13].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[13].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">14h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[14].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked"[(ngModel)]="subpitch.time[14].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">15h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[15].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[15].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">16h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[16].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[16].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">17h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[17].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[17].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">18h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[18].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked"[(ngModel)]="subpitch.time[18].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">19h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[19].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[19].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">20h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[20].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[20].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">21h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[21].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked"[(ngModel)]="subpitch.time[21].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">22</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[22].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[22].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">23h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[23].price"></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked" [(ngModel)]="subpitch.time[23].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                         
                                                          <tr>
                                                            <th scope="row">24h</th>
                                                            <td><input class="form-control" type="number" [(ngModel)]="subpitch.time[24].price" ></td>
                                                            <td><label class="switch m-0" style="width: 50px;">
                                                                <input type="checkbox" checked="checked"[(ngModel)]="subpitch.time[24].enable"/>
                                                                <span></span>
                                                            </label></td>
                                                          </tr>
                                                        
       
                                                        </tbody>
                                                      </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" *ngIf="subpitch_id" class="btn btn-danger" data-dismiss="modal" (click)="deleteSubpitch()">Xóa sân</button>
                <button type="button" *ngIf="subpitch_id"  data-dismiss="modal" class="btn btn-primary" (click)="updateSubPitch()">Cập nhật</button>
                <button type="button" *ngIf="!subpitch_id"  data-dismiss="modal" class="btn btn-primary" (click)="createSubpitch()">Tạo sân</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade edit-pitch" tabindex="-1" role="dialog" aria-labelledby="editPitchLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->