<app-total></app-total>

<h6 class="mt-3 mb-1 customtextchart">Biều đồ số liệu</h6>


<div class="row mb-4 mt-5">
  <div class="col-xl-12">
    <div>
      <div>
        <canvas id="canvas" #canvas>{{ chart }}</canvas>
        <div class="my-container">
          <ng-template #customLoadingTemplate>
            <div class="custom-class">
            </div>
          </ng-template>

          <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
          </ngx-loading> -->
        </div>
      </div>
    </div>
  </div>
</div>