<app-total></app-total>

<h4>Biều đồ số liệu</h4>
<div class="form-group row">
  <div class="col-xl-3 col-md-4 col-5"></div>
  <div class="col-xl-2 col-4 col-md-4 form-group">
    <input placeholder="Datepicker" class="form-control" #dp="bsDatepicker" [(ngModel)]="daystart"
      bsDatepicker>
  </div>
  <div class="col-xl-2 col-4 col-md-4 form-group">
    <input placeholder="Datepicker" class="form-control" #dp="bsDatepicker" [(ngModel)]="dayend"
      bsDatepicker>
  </div>
  <div class="col-xl-2 col-md-4 col-5">
    <select class="form-control" [(ngModel)]="typeTime">
      <option *ngFor="let item of typeTimes" value="{{item.type}}">{{ item.name }}</option>
    </select>
  </div>
  <div class="col-xl-2 col-md-4 col-5">
    <select class="form-control" [(ngModel)]="choosePitch">
      <option *ngFor="let item of pitches" value="{{item._id}}">{{ item.name }}</option>
    </select>
  </div>
  <div class="col-xl-1 col-md-4 col-5"><button class="btn btn-info float-right" (click)="submit()">Submit</button></div>

</div>

<div>
  <canvas baseChart [chartType]="'line'" [options]="lineOptions" [datasets]="lineData.datasets" [colors]="lineColors"
    [labels]="lineData.labels" [legend]="false" height="120"></canvas>
</div>