<div class="content-heading">
  <div>
    <label style="color: rgb(220, 173, 20);"> name </label>
    <br>
  </div>
</div>

<div class="container mt-3">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Config</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#home">Modules</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
    </li> -->
  </ul>
