.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

    .custom {
      color: gray;
      font-size: 12px;
      float: right;
      font-style: italic;
  }

    .btn.btn-info.customUpdate{
    margin-right: 10px;
    padding: 7px 30px;
    margin-left: 30px;
}
.btn.btn-info.customUpdated{
  margin-right: 10px;
  padding: 7px 30px;
  margin-left: 30px;
}
  .btn.btn-warning.customBacked{
    padding: 7px 30px;
  }
  .btn.btn-warning.customBack{
    padding: 7px 30px;
  }
.card-header.info.mt-5{
  font-size: 20px;
  text-decoration: underline;;
}


label{
  text-align: center;
  margin: auto;
}

.fartPermis {
  height: 20px;
  width: 200px;
  margin-left: 50px;
  margin-top: -27px;
}

.son{
  margin-left: 50px;
}

div#menu1 {
  margin-left: 20px;
}