<!-- <div >   -->
  <div class="web_homePage" (scroll)="onWindowScroll($event);">
    <!-- menu user-->
    <div class="d-flex flex-column flex-md-row align-items-center px-md-4 border-bottom shadow-sm pt-2 animated fadeInDown"
      id="navbar">
      <img class="my-0 mr-md-auto" style="width: 20%; height:auto; cursor: pointer;"
        src="../../../../assets/img/Untitled-1.png" [routerLink]="'/home-page'">
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" [routerLink]="'/profile'" href="#">Hồ Sơ</a>
        <!-- <a class="p-2 text-white" href="#">Enterprise</a> -->
        <a class="p-2 text-white" href="#">Hỗ Trợ</a>
        <!-- <a class="p-2 text-white" href="#">Pricing</a> -->
      </nav>
      <div class="mr-2">
        <!-- START button group-->
        <div class="btn-group" dropdown>
          <img *ngIf="!checksession" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" dropdownToggle class="avatar" style="vertical-align: middle; width: 40px; height: 40px;  border-radius: 50%;">
            <div *dropdownMenu class="dropdown-menu animated fadeIn pull-right dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="#" (click)="logout()">Đăng Xuất</a>
            </div>
        </div>
        <!-- END button group-->
    </div>
      <a *ngIf="checksession" class="btn btn-outline-warning" href="#">Đăng Nhập/Đăng Ký</a>
    </div>
  
    <div class="" style="margin-top: -5%;">
      <div class="jumbotron-mchange">
        <div class="row" style="margin: 0;">
          <div class="col-xl-6 col-lg-8 mg-tital">
            <div class="text-left ml-5">
              <!-- <img alt="Fooball" class="img-fluid home-logo" src="assets/img/angular.svg" /> -->
              <h1 class="home-text-big">ASD Website</h1>
              <p class="lead">
                {{'home.INTRODUCE' | translate}}
                <br> <small class="text-warning change-size">* {{'home.INTRODUCETWO' | translate}}</small>
              </p>
            </div>
          </div>
  
          <div class="col-xl-9 col-lg-12">
            <div class="text-left ml-5">
              <div>
                <div class="row find-pitch">
                  <div class="col-lg-4 col-10" style="margin-left: 0; margin-right: -25px; ">
                    <!-- <input class="form-control custom-input-sm" type="text" placeholder="Tên sân"
                      style="height: calc(1.5em + 0.625rem + 2px);" [(ngModel)]="search.name"  [ngModelOptions]="{standalone: true}" /> -->
                      <div class="form__group field">
                        <input style="font-weight: 300;" type="input" class="form__field" placeholder="Name" name="name" id='name' required  [(ngModel)]="search.name"  [ngModelOptions]="{standalone: true}"/>
                        <label for="name" class="form__label">Nhập Tên Sân</label>
                      </div> 
                  </div>
                  <div class="col-lg-2 col-10" style="margin-left: 0; margin-right: -25px; margin-top: 40px;">
                    <button class="btn btn-warning" (click)="findPitch()">Tìm Sân</button>
                  </div>
                </div>
                <div class="row mt-2 ml-1">
                  <label style="color: white;">Tại &nbsp; </label>
                  <div class="text-warning" style="cursor: pointer;">
                    <select class="text-warning" style="background: #00ffff00; color: orange;border:0px"  (change) = "changeCity()" [(ngModel)]="search.city"  [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let item of getCitys"  value ="{{item._id}}">{{item.name}}</option>
                    </select>
                    &nbsp; </div>
                  <div class="text-warning" style="cursor: pointer;" > &nbsp;
                    <select class=" text-warning" style="margin-top: -30px; background: #00ffff00; color: orange;border:0px" [(ngModel)]="search.district"  [ngModelOptions]="{standalone: true}">
                      <option [attr.selected]="search.district==item.name ? true : null"  *ngFor="let item of getDistricts" value ="{{item._id}}">{{item.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 container">
        <div class="row" style="margin-right: 0;">
          <div class="col-lg-4">
            <h3 style="font-weight: 300;">Đặt Sân Ngay Hôm Nay!</h3>
            <div class="mt-3" id="wrap" style="margin-right: 60px;">
              <form action="" autocomplete="on">
              <input id="search" name="search" type="text" placeholder="Tìm Sân"  [(ngModel)]="search.name"  [ngModelOptions]="{standalone: true}"><input id="search_submit" value="Rechercher" type="submit">
              </form>
            </div>
            <button class="btn btn-sm btn-outline-warning mt-3" (click)="findPitch()">Tìm Sân</button>
            <div class="row mt-2 ml-1">
              <label class="text-dark">Tại &nbsp; </label>
              <div class="text-warning" style="cursor: pointer;">
                <select class="text-warning" style="background: #00ffff00; color: orange;border:0px"  (change) = "changeCity()" [(ngModel)]="search.city"  [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let item of getCitys" value ="{{item._id}}">{{item.name}}</option>
                </select>
                &nbsp; </div>
              <div class="text-warning" style="cursor: pointer;" > &nbsp;
                <select class=" text-warning" style="margin-top: -30px; background: #00ffff00; color: orange;border:0px" [(ngModel)]="search.district"  [ngModelOptions]="{standalone: true}">
                  <option  *ngFor="let item of getDistricts" value ="{{item._id}}">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <img style="height: 181px;" src="https://botstar.com/wp-content/uploads/2019/03/visual-editor-1.png">
            <h3 style="font-weight: 300;">Quảng bá hiệu quả</h3>
            <label style="font-weight: 300;">Trang thông tin sân bóng riêng biệt với hàng ngàn người truy cập hằng ngày!</label>
          </div>
          <div class="col-lg-4 text-center">
            <img style="height: 181px;" src="https://botstar.com/wp-content/uploads/2019/03/installation-1.png">
            <h3 style="font-weight: 300;">Dễ dàng sử dụng</h3>
            <label style="font-weight: 300;">Giao diện thân thiện, dễ dàng làm quen dễ dàng sử dụng.</label>
          </div>
        </div>
      </div>
   
      <div class="mt-5 container">
        <div class="row" style="margin-right: 0;">
          <div class="col-lg-4 text-center">
            <img style="height: 181px;" src="https://botstar.com/wp-content/uploads/2019/03/visual-editor-1.png">
            <h3 style="font-weight: 300;">Quảng bá hiệu quả</h3>
            <label style="font-weight: 300;">Trang thông tin sân bóng riêng biệt với hàng ngàn người truy cập hằng ngày!</label>
          </div>
          <div class="col-lg-4 text-center">
            <img style="height: 181px;" src="https://botstar.com/wp-content/uploads/2019/03/installation-1.png">
            <h3 style="font-weight: 300;">Dễ dàng sử dụng</h3>
            <label style="font-weight: 300;">Giao diện thân thiện, dễ dàng làm quen dễ dàng sử dụng.</label>
          </div>
          
          <div class="col-lg-4 text-center" style="font-weight: 100;    line-height: 2.5;">
            <h3 style="font-weight: 300;">Tính năng</h3>
                    <div> Quản lý lịch đặt sân</div>
                    <div> Tùy chỉnh giá theo ngày giờ</div>
                    <div> Hỗ trợ tìm kiếm với người chơi mới</div>
                    <div> Kết nối với khách hàng thân thiết</div>
                    <div> Thống kê, báo cáo doanh thu</div>
                    <div> Miễn phí sử dụng</div>
          </div>
        </div>
      </div>

    </div>
    <footer class="position-relative d-print-none mt-auto pt-5" style="background-color: #d0d0d052;">
      <!-- Main block - menus, subscribe form-->
      <div class="py-5 bg-gray-200 text-muted">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <h6 class="text-uppercase text-dark mb-3">Về ASD Football Club</h6>
              <ul class="list-unstyled">
                <li><a href="/pages/about-us" class="text-muted">Giới thiệu Về ASD Football Club</a></li>
                <li><a href="/bai-viet/" class="text-muted">Blog</a></li>
                <li><a href="/pages/dieu-khoan-su-dung" class="text-muted">Điều khoản sử dụng</a></li>
                <li><a href="/pages/chinh-sach-bao-mat" class="text-muted">Chính sách bảo mật</a></li>
              </ul>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="font-weight-bold text-uppercase text-dark mb-3">Thông tin liên hệ</div>
              <ul class="list-unstyled">
                <li class="text-muted"><a href="https://www.facebook.com/sportavn/" target="_blank" title="facebook"
                    class="text-muted text-hover-primary"><i class="fab fa-facebook"></i> /asdFootball</a></li>
                <li class="text-muted"><a class="text-muted text-hover-primary" href="mailto:hello@sporta.vn"><i
                      class="fas fa-envelope"></i> asdFootball@gmail.com</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <h6 class="text-uppercase text-dark mb-3">Thanh toán</h6>
              <ul class="list-unstyled">
                <li class="text-muted"><a class="text-muted text-hover-primary"><img
                      style="height: 25px; margin-bottom: 10px"
                      src="https://www.sporta.vn/assets/momo-f2c88c55af645265139d91c8ec6e31182b68283d335ef35dff10bc90da8ddb3b.png"
                      alt="Momo"> Momo</a></li>
                <li class="text-muted"><a class="text-muted text-hover-primary"><i class="fas fa-money-check-alt"
                      style="font-size: 20px;"></i> Tiền mặt</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright section of the footer-->
      <div class="py-4 font-weight-light bg-gray-800 text-gray-300" style="background-color: #343A40; color: white">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center text-md-center">
              <p class="text-sm mb-md-0"><span>© 2019 Bản quyền của Công Ty TNHH ASD Football Club</span><br>
                <span>Giấy chứng nhận Đăng ký Thông qua số 0236 3842 139 do Trường Đại Học Sư Phạm cấp ngày
                  11/05/2020</span></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>