<div class="row">
  <div class="col-lg-4">
      <div class="card card-default">
          <div class="card-body text-center">
              <div class="py-4">
                  <img class="img-fluid rounded-circle img-thumbnail thumb96" src=""  [class.rounded-circle]="cropperSettings.rounded"  [src]="data1.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" alt="Contact" />
              </div>
              <h3 class="m-0 text-bold">John</h3>
              <div class="my-3">
                  <p>Xin chào đến với thông tin cá nhân của bạn. Xóa dòng này và thay đổi như bạn muốn!!</p>
              </div>
              <div class="text-center">
                <label for="image-input" class="file-upload">
                    <button class="btn btn-secondary btn-block">Tải Ảnh Lên</button>
                    <input id="image-input" type="file" (change)="fileChangeListener($event)">
                </label>
              </div>
          </div>
      </div>
      <div class="">
        <div class="card">
            <div class="card-body">
                <img-cropper #cropper [image]="data1" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-8">
      <div class="card card-default">
          <div class="card-header d-flex align-items-center">
              <div class="d-flex justify-content-center col">
                  <div class="h4 m-0 text-center">Thông Tin Quản Trị Viên</div>
              </div>
              <!-- <div class="d-flex justify-content-end">
                  <div class="btn-group" dropdown>
                      <button class="btn btn-link" dropdownToggle>
                          <em class="fa fa-ellipsis-v fa-lg text-muted"></em>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right-forced animated fadeInLeft" role="menu">
                          <a class="dropdown-item" href="#">
                              <span>Send by message</span>
                          </a>
                          <a class="dropdown-item" href="#">
                              <span>Share contact</span>
                          </a>
                          <a class="dropdown-item" href="#">
                              <span>Block contact</span>
                          </a>
                          <a class="dropdown-item" href="#">
                              <span class="text-warning">Delete contact</span>
                          </a>
                      </ul>
                  </div>
              </div> -->
          </div>
          <div class="card-body">
              <div class="row py-4 justify-content-center">
                  <div class="col-12 col-sm-10">
                      <form class="form-horizontal">
                          <div class="form-group row">
                              <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact1">Name</label>
                              <div class="col-xl-10 col-md-9 col-8">
                                  <input class="form-control" id="inputContact1" type="text" placeholder="" value="Audrey Hunt" />
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact2">Email</label>
                              <div class="col-xl-10 col-md-9 col-8">
                                  <input class="form-control" id="inputContact2" type="email" value="mail@example.com" />
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact3">Phone</label>
                              <div class="col-xl-10 col-md-9 col-8">
                                  <input class="form-control" id="inputContact3" type="text" value="(123) 465 789" />
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact4">Mobile</label>
                              <div class="col-xl-10 col-md-9 col-8">
                                  <input class="form-control" id="inputContact4" type="text" value="(12) 123 987 465" />
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact5">Website</label>
                              <div class="col-xl-10 col-md-9 col-8">
                                  <input class="form-control" id="inputContact5" type="text" value="http://some.wesbite.com" />
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact6">Address</label>
                              <div class="col-xl-10 col-md-9 col-8">
                                  <textarea class="form-control" id="inputContact6" row="4">Some nice Street, 1234</textarea>
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-10">
                                  <button class="btn btn-info" type="submit">Lưu Thay Đổi</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
