<div class="row">
  <div class="col-lg-4">
      <div class="card card-default">
          <div class="card-body text-center">
              <div class="py-4">
                  <img class="img-fluid rounded-circle img-thumbnail thumb96" [src]="sanitizeFunc(profileUser.avatar)" alt="Contact" />
              </div>
              <h3 class="m-0 text-bold">{{profileUser.firstname}}</h3>
              <!-- <div class="my-3">
                  <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
              </div> -->
              <div class="text-center">
                <label for="image-input" class="file-upload">
                    <button class="btn btn-secondary btn-block">Thay đổi avatar</button>
                    <input id="image-input" type="file" (change)="selectImage($event)">
                </label>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-8">
      <div class="card card-default">
          <div class="card-header d-flex align-items-center">
              <div class="d-flex justify-content-center col">
                  <div class="h4 m-0 text-center">Thông Tin Chủ Sân</div>
              </div>
          </div>
          <div class="card-body">
              <div class="row py-4 justify-content-center">
                  <div class="col-12 col-sm-10">
                      <div class="form-horizontal">
                          <div class="form-group row">
                              <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact1">Tên</label>
                              <div class="col-xl-10 col-md-9 col-8">
                                  <input class="form-control" id="inputContact1" type="text" placeholder="" [(ngModel)]="profileUser.firstname" />
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact1">Họ</label>
                            <div class="col-xl-10 col-md-9 col-8">
                                <input class="form-control" id="inputContact1" type="text" placeholder=""  [(ngModel)]="profileUser.lastname" />
                            </div>
                        </div>
                          <div class="form-group row">
                              <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact2">Email</label>
                              <div class="col-xl-10 col-md-9 col-8">
                                  <input class="form-control" id="inputContact2" type="email"  [(ngModel)]="profileUser.email"/>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="inputContact3">Phone</label>
                              <div class="col-xl-10 col-md-9 col-8">
                                  <input class="form-control" id="inputContact3" type="text"  [(ngModel)]="profileUser.phone" />
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-10"></div>
                              <div class="col-md-2">
                                  <button class="btn btn-info" type="submit" (click)="updateProfile()" pull-right>Lưu</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
