// @import "../../../shared/styles/bootstrap/_functions.scss";
// @import "../../../shared/styles/bootstrap/_variables.scss";
// @import "../../../shared/styles/bootstrap/_mixins";
// @import '../../../shared/styles/app/variables.scss';

// .home-container {
//     margin: 0 auto;
//     max-width: map-get($container-max-widths, "lg");

//     .home-logo {
//         width: 240px;
//     }

//     .home-text {
//         text-align: center;
//         @include media-breakpoint-up(lg) {
//             text-align: left;
//         }
//     }
//     .home-text-big {
//         font-size: 3.9375rem;
//     }
// }
.customSubmit{
    margin-left: 10px;
    padding: 5px 20px;
    background-color:#2f80e7;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0 solid white;
    border-radius: 2px;
    transition: 0.4s
}

.h2.mt-0.leadTotal, .h2.mt-0 {
  text-decoration: underline;
  cursor: pointer;
}


.h2.mt-0:hover {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  color:rgb(118, 118, 243)
}



.customSubmit:hover{
    background: rgb(235, 161, 23);
    transition: 0.4s
}

// css custom input date
.customIDate{
 
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  //css custom property
  
 .content-heading {
    width: 105%;
  }

.mr-1.mb-1.btn.btn-outline-info{
  width: 220px;
  margin-bottom: 20px;
}

div.cardTotal{
 color:white;
}

div.iconTotal{ 
  animation: mymove 5s infinite;
  position: relative;
  transition: 0.4s;
}

@keyframes mymove {
  0%   {left: 0px; transition: 0.4s}
  50% {left: 70px;  transition: 0.4s}
  100%{ left: 0px; transition: 0.4s}
}


a.col-5.customtotalDetail {
  font-size: 9px;
  float: left;
  margin-top: 5px;
  margin-left: -10px;
  color: #6cbbff;
  text-decoration: underline;
  cursor: pointer;
}

a.col-5.customtotalDetail:hover {
  font-style: italic;
}



// input.form-control.ng-untouched.ng-pristine.ng-valid[_ngcontent-uve-c9], input.form-control.ng-pristine.ng-valid.ng-touched[_ngcontent-uve-c9], input.form-control.ng-valid.ng-touched.ng-dirty[_ngcontent-uve-c9] {
//   width: 221%;
// }

// *,
// :before,
// :after { 
// 	box-sizing: border-box;
// }


// @keyframes fadeInScale {
//   0% {
//     opacity: 0;
//     transform: scale(0) translateY(50%);
//   }
// 	90% {
// 		transform: scale(1.05);
// 	}
//   100% {
//     opacity: 1;
//     transform: scale(1) translateY(0);
//   }
// }

// .container {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

// .card {
// 	position: relative;
// 	width: 20em;
// 	background-color: #292929;
// 	transition: all .3s ease-in-out;
	
// 	&:hover {
// 		box-shadow: 0 10px 20px 10px rgba(black, .2);
// 	}
// }

// .card__link {
// 	display: block;
// 	padding: 1em;
// 	text-decoration: none;
// }

// .card__icon {
// 	position: absolute;
// 	width: 4em;
// 	height: 4em;
// 	transition: all .3s ease-in-out;
	
// 	.card:hover & {
// 		opacity: 0;
// 		transform: scale(0);
// 	}
// }

// .card__media {
// 	padding: 2em 0;
	
// 	svg path {
// 		opacity: 0;
// 		transition: all .3s ease-in-out;
// 		transform-origin: center center;
// 	}
	
// 	.card:hover & {
// 		svg path {
// 			animation: fadeInScale .3s ease-in-out forwards;
// 		}
		
// 		svg path:nth-child(2) {
// 			animation-delay: .1s;
// 		}
		
// 		svg path:nth-child(3) {
// 			animation-delay: .2s;
// 		}
// 	}
// }

// .card__header {
// 	position: relative;
// }

// .card__header-title {
// 	margin: 0 0 .25em;
// 	color: white;
// }

// .card__header-meta {
// 	margin: 0;
// 	color: #999;
// }

// .card__header-icon {
// 	opacity: 0;
// 	position: absolute;
// 	right: 0;
// 	top: 50%;
// 	margin-top: -1em;
// 	transform: translateX(-20%);
// 	width: 2em;
// 	height: 2em;
// 	transition: all .3s ease-in-out;
	
// 	.card:hover & {
// 		opacity: 1;
// 		transform: translateX(0);
// 	}
// }